// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #0dcaf0;
$grey: #adb5bd;

.blue {
    color: $blue;
}

.indigo {
    color: $indigo;
}

.purple {
    color: $purple;
}

.red {
    color: $red;
}

.bg-red{
    background: $red;
}

.orange {
    color: $orange;
}

.bg-orange {
    background: $orange;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.cyan {
    color: $cyan;
}

.grey {
    color: $grey;
}

.bg-grey{
    background-color: $grey;
}

.pink {
    color: $pink;
}

.pagination {
    display: inline-block;
    text-decoration: none;
}

.pagination a {
    color: black;
    float: left;
    font-weight: 500;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination a.active,
.pagination a.active:hover {
    background-color: $blue;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.pagination a:hover:not(.active) {
    background-color: rgba(107, 106, 106, 0.781);
    color: white;
    border-radius: 5px;
    font-weight: 500;
}

.icon-size {
    width: 30px;
    height: 30px;
    font-size: 50px;
    padding-bottom: 0.5em;
}

.pointer {
    cursor: pointer;
}
